---
import SidebarProgress from "./SidebarProgress.astro";
---

<div class="banner">
  <SidebarProgress />
  <div class="banner-content">
    <slot />
  </div>
</div>

<style>
  .banner {
    border-bottom: 1px solid var(--sl-color-hairline);
    padding: var(--space-sm) var(--space-md);
    background-color: var(--sl-color-bg-aside);
  }
  .banner-content {
    max-width: var(--sl-content-width);
    margin: 0 auto;
  }
</style>